.app__projects {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;


    h1 {
        font-size: 40px;
    }}
    span {
        color: var(--small-color);
        padding: 10px;
    }

.app__project-img {
    width: 180px;
    border-radius: 5px;
}

.app__project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.app__project__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.demo, 
.code {
    border: none;
    outline: none;
    padding: 14px 14px;
    background: var(--text-color);
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;


    &:hover {
        background: hsl(230, 83%, 38%);        
    }
}

.sample__project {
    color: var(--text-color);
    margin-bottom: 20px;
}

.app__project-img {
    object-fit: contain;
}